/*Menu E Rodapé */ 
.menuUnorderedList{
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #001a1a;
}
.menuOrderedList{
    display: inline-block;
    padding: 20px 40px 20px 40px;
    margin: 0;
}
.menuHiperlink {
    text-decoration: none;
    color: #001a1a  
} 
.menuActualPage{
    text-decoration: none;
    color: chocolate;
}
.menuOrderedList:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#menuLogoMadeiraLegal {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 0px 180px;
    overflow: hidden;
    margin-bottom: -23px;
}
#menuLogoIbama {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    margin-bottom: -20px;
}
#footer {
    position: absolute;
    bottom: 0px;
    color: #ddffcc;
    text-align: center;
    font-size: 12px;
    vertical-align: left;
    width: 100%;
    height: 20px;    
    background: rgba(0,0,0,.2);
    padding: 5px 0px 0px 0px;
}
    
/*INDEX.HTML */
#bodyIndex {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgIndex.jpeg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: .8;
}
#indexTitle {
    position: absolute;
    margin-left: 20px;
    font-size:43px;
    font-family:'Montserrat', sans-serif;
    color: LemonChiffon;
    background: rgba(0,0,0,.22);
    top: 70px;
}
#indexSubtitle {
    position: absolute;
    bottom: 160px;
    left: 90px;
    font-size:35px;
    font-family:'Montserrat', sans-serif;
    color: #ccff66;
    background: rgba(0,0,0,.2);
}
#indexButtonEncode {
    position: absolute;
    left: 20px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#indexButtonDecode {
    position: absolute;
    left: 350px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#indexButtonEncode:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#indexButtonDecode:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}

/*ENCODE.HTML */
#bodyEncode {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgEncode.jpeg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 80px;
    opacity: .8;
}
#encodeTitle {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    color: #001a1a;
    top: 70px;
}
#encodeConditions {
    position: absolute;
    left: 20px;
    top: 270px;
 

}
#encodeConditions2{
    position:absolute;
    bottom: 165px;
    color:#001a1a;
    left:25px;
    font-size:10pt;
}
#encodePlaceToInsertMessage {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 500px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 140px;

}
#encodePlaceToInsertOffset {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 100px;

}
#encodeButtonToEncode {
    position: absolute;
    left: 20px;
    bottom: 50px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    color: DarkSeaGreen;
    border-radius: 12px;
    border-color: #001a1a;


}
#encodeButtonToEncode:hover {
    background-color: olivedrab;
    cursor:pointer;
    color: #001a1a;
}
#encodeIndicationOfEncodedMessage{
    top: 80px;
    position: absolute;
    right: 40px;
    font-size: 20pt;
    color:white;

}
#encodePlaceForTheEncodedMessage{
    top: 150px;
    right: 20px;
    position: absolute;
    color:white;
    font-size:20pt
}


/*DECODE.HTML */
#bodyDecode {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgDecode.jpg);
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: top -120px right 0px;
    opacity: .8;
}
#titleDecode {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: BurlyWood;
    background: rgba(0,0,0,.05);
}
#conditionsToDecode {
    position: absolute;
    left: 20px;
    top: 270px;
    color: #ff8000;
    background: rgba(0,0,0,.15);

}
#conditionsToDecode2 {
    position:absolute;
    bottom: 165px;
    color:wheat;
    left:25px;
    font-size:10pt;
}
#decodePlaceToInsertMessage  {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 500px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 140px;

}
#decodePlaceToInsertOffset {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 100px;

}
#decodeButtonToDecode {
    position: absolute;
    left: 20px;
    bottom: 50px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #e67300;
    color: #001a1a;
    border-radius: 12px;
    border-color: #e67300;


}
#decodeButtonToDecode:hover {
    background-color: #ffe6cc;
    cursor:pointer;
    color: #331a00;
    border-color: #ffe6cc;
}
#decodePlaceForTheDecodedMessage{
    top: 150px;
    right: 20px;
    position: absolute;
    color:white;
    font-size:20pt;
}
#decodeIndicationOfDecodedMessage{
    top: 80px;
    position: absolute;
    right: 40px;
    font-size: 20pt;
    color:white;

}


/*SOBRE.HTML */
#bodyAbout {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgAbout.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 480px;
    max-height: 180px;
    opacity: .8;
}
#aboutLeftDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}
#aboutRightDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:400px;
    width: 500px;
    top: 70px;
    margin-left: 850px;
}
#aboutExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#aboutExplanation2 {
    position:absolute;
    top: 250px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#aboutExplanation3 {
    position:absolute;
    top: 455px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#aboutExplanation4 {
    position:absolute;
    top: 5px;
    right: 40px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#aboutExplanation5 {
    position:absolute;
    top: 150px;
    right: 40px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#aboutImageOnTheRightSide{
    max-width: 500px;
    position:absolute;
    top: 290px;
}

/*DOF.HTML */
#bodyDOF {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgDof.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 600px;
    max-height: 80px;
    opacity: .9;
    background-repeat:   no-repeat;
}
#dofLeftDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}
#dofRightDiv {
    position: absolute;
    margin-left: 0px;
    width: 500px;
    top: 70px;
    margin-left: 860px;
}
.dofLinkToURLs {
    text-decoration: none;
    color: sienna;
} 
#dofExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#dofExplanation2 {
    position:absolute;
    top: 250px;
    left: 70px;
    width: 700px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 400;
    font-size:11pt;
}
#dofExplanation3 {
    position:absolute;
    top: 440px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#dofImageOnTheRightSide {
    max-height:560px;
}


/*SERVICOS.HTML */
#bodyServices {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgServices.jpeg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 480px;
    max-height: 180px;
    opacity: .85;
}
#servicesLeftDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}
#servicesRightDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 500px;
    top: 70px;
    margin-left: 850px;
}
#servicesExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#servicesExplanation2 {
    position:absolute;
    top: 280px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#servicesExplanation3 {
    position:absolute;
    top: 405px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#servicesExplanation4 {
    position:absolute;
    top: 75px;
    right: 60px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}
#servicesExplanation5 {
    position:absolute;
    top: 200px;
    right: 60px;
    width: 420px;
    top: 70px;
    color: #663300;
    background: rgba(255,255,255,.15); 
}
#servicesEncodeButton {
    position: absolute;
    right: 290px;
    bottom: 70px;
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    border-radius: 12px;
    border-color: #001a1a;
    color:burlywood;
}
#servicesDecodeButton{
    position: absolute;
    right: 40px;
    bottom: 70px;
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    border-radius: 12px;
    border-color: #001a1a;
    color:burlywood;
}
#servicesEncodeButton:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#servicesDecodeButton:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}

/* CONTATO.HTML */
#bodyContact {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(images/bgContact.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 600px;
    opacity: .8;
}
#contactExplanation1 {
    position:absolute;
    left: 30px;
    width: 700px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}
#contactFirstDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    height:120px;
    width: 640px;
    top: 70px;
    margin-left: 15px;
}
#contactFirstDiv:hover {
    background: whitesmoke;
}
#contactExplanation2 {
    position:absolute;
    left: 30px;
    width: 640px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}
#contactSecondDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:140px;
    width:640px;
    top: 280px;
    margin-left: 15px;
}
#contactSecondDiv:hover {
    background: whitesmoke;
}
#contactExplanation3 {
    position:absolute;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}
#contactThirdDiv {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:140px;
    width: 640px;
    top: 490px;
    margin-left: 15px;
}
#contactThirdDiv:hover {
    background: whitesmoke;
}
.contactLinkToURLs{
    text-decoration: none;
    color:orange;
} 
