/* Menu de navegação: cores de background e hover*/
.menuUL{
    background-color: white;
    margin: 0;
    padding-left: 0px;
    border-bottom: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 400px;
}
#menuLI {
    display: inline-block;
    padding: 20px 40px 20px 40px;
    margin: 0;
}
/* Exclusão de blue underline */
#menuA {
    text-decoration: none;
    color: #001a1a  
} 

#menuAIN{
    text-decoration: none;
    color: chocolate;
}
#menuLI:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#logo {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 0px 180px;
    overflow: hidden;
    margin-bottom: -23px;
}

#logoIbama {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    margin-bottom: -20px;
}
/* INDEX.HTML*/
#bodyIndex {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(monkeyOnTheTree.jpeg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    opacity: .8;
}
/* Títulos página principal */
.tit {
    position: absolute;
    margin-left: 20px;
    font-size:43px;
    font-family:'Montserrat', sans-serif;
    color: LemonChiffon;
    background: rgba(0,0,0,.22);
    top: 70px;
}
h2 {
    position: absolute;
    bottom: 160px;
    left: 90px;
    font-size:35px;
    font-family:'Montserrat', sans-serif;
    color: #ccff66;
    background: rgba(0,0,0,.2);
}
/* Botões de criptografar e descriptografar */
#cripto {
    position: absolute;
    left: 20px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#decpto {
    position: absolute;
    left: 350px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#cripto:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#decpto:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
/*Rodapé */
#footerPages {
    position: absolute;
    bottom: 0px;
    color: #ddffcc;
    text-align: center;
    font-size: 12px;
    vertical-align: left;
    width: 100%;
    height: 20px;    
    background: rgba(0,0,0,.2);
    padding: 5px 0px 0px 0px;
}

/* ENCODE.HTML */
#bodyEncode {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(encode.jpeg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 80px;
    opacity: .8;
}

#EncodeTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    color: #001a1a;
    top: 70px;
}

#conditionsToEncode {
    position: absolute;
    left: 20px;
    top: 270px;
 

}

#messageToEncode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 500px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 140px;

}

#offsetToEncode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 100px;

}

#encodedMessageIndication{
    top: 80px;
    position: absolute;
    right: 40px;
    font-size: 20pt;
    color:white;

}

#encodedMessage{
    top: 150px;
    right: 20px;
    position: absolute;
    color:white;
    font-size:20pt
}

#botaoToEncode {
    position: absolute;
    left: 20px;
    bottom: 50px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    color: DarkSeaGreen;
    border-radius: 12px;
    border-color: #001a1a;


}

#botaoToEncode:hover {
    background-color: olivedrab;
    cursor:pointer;
    color: #001a1a;
}

/* DECODE.HTML */
#bodyDecode {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(decode.jpg);
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: top -120px right 0px;
    opacity: .8;
}

#decodeTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: BurlyWood;
    background: rgba(0,0,0,.05);
}

#conditionsToDecode {
    position: absolute;
    left: 20px;
    top: 270px;
    color: #ff8000;
    background: rgba(0,0,0,.15);

}

#messageToDecode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 500px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 140px;

}

#offsetToDecode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 100px;

}

#botaoToDecode {
    position: absolute;
    left: 20px;
    bottom: 50px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #e67300;
    color: #001a1a;
    border-radius: 12px;
    border-color: #e67300;


}

#botaoToDecode:hover {
    background-color: #ffe6cc;
    cursor:pointer;
    color: #331a00;
    border-color: #ffe6cc;
}

#decodedMessage{
    top: 150px;
    right: 20px;
    position: absolute;
    color:white;
    font-size:20pt;
}

#decodedMessageIndication{
    top: 80px;
    position: absolute;
    right: 40px;
    font-size: 20pt;
    color:white;

}

#sizeCodEncode {
    position:absolute;
    bottom: 165px;
    color:#001a1a;
    left:25px;
    font-size:10pt;
}

#sizeCodDecode {
    position:absolute;
    bottom: 165px;
    color:wheat;
    left:25px;
    font-size:10pt;
}

#bodySobre {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(sobre.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 480px;
    max-height: 180px;
    opacity: .8;
}

#bodyDOF {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(ibamaDOF.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 600px;
    max-height: 80px;
    opacity: .9;
    background-repeat:   no-repeat;
}

#bodyServicos {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(servicos.jpeg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 480px;
    max-height: 180px;
    opacity: .85;
}

#bodyContato {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(contato.jpg);
    background-size:     cover;                     
    background-position: center center;
    margin-bottom: 600px;
    opacity: .8;
}

#sobreTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: #ff751a;
}

#dofTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: #009900;
    
    background: rgba(255,255,255,.15);
}

#servicosTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: #A0522D;
}

#contatoTit{
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    top: 70px;
    color: #663300;
    background: rgba(255,255,255,.15); 
}

#servicosTextos {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}

#servicosImages {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 500px;
    top: 70px;
    margin-left: 850px;
}


#dofTextos {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}

#sobreTextos {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:560px;
    width: 800px;
    top: 70px;
    margin-left: 15px;
}

#sobreImages {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:400px;
    width: 500px;
    top: 70px;
    margin-left: 850px;
}




#servicosExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#servicosExplanation2 {
    position:absolute;
    top: 280px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#servicosExplanation3 {
    position:absolute;
    top: 405px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#servicosExplanation4 {
    position:absolute;
    top: 75px;
    right: 60px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#servicosExplanation5 {
    position:absolute;
    top: 200px;
    right: 60px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#criptoServicos {
    position: absolute;
    right: 290px;
    bottom: 70px;
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    border-radius: 12px;
    border-color: #001a1a;
    color:burlywood;
}
#decptoServicos {
    position: absolute;
    right: 40px;
    bottom: 70px;
    font-family:'Montserrat', sans-serif;
    font-size:15px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    border-radius: 12px;
    border-color: #001a1a;
    color:burlywood;
}
#criptoServicos:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#decptoServicos:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#dofExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#dofExplanation2 {
    position:absolute;
    top: 250px;
    left: 70px;
    width: 700px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 400;
    font-size:11pt;
}

#dofExplanation3 {
    position:absolute;
    top: 440px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#dofImages{
    position: absolute;
    margin-left: 0px;
    width: 500px;
    top: 70px;
    margin-left: 860px;
}

#fluxoDof {
    max-height:560px;
}

#webDOF {
    text-decoration: none;
    color: sienna;
} 

#sobreExplanation1 {
    position:absolute;
    top: 75px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#sobreExplanation2 {
    position:absolute;
    top: 250px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#sobreExplanation3 {
    position:absolute;
    top: 455px;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#sobreExplanation4 {
    position:absolute;
    top: 5px;
    right: 40px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#sobreExplanation5 {
    position:absolute;
    top: 150px;
    right: 40px;
    width: 420px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    font-weight: 600;
}

#sobreImage2{
    max-width: 500px;
    position:absolute;
    top: 290px;
}

#contatoExplanation1 {
    position:absolute;
    left: 30px;
    width: 700px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}

#contatoTextos {
    background: rgba(255,255,255,.85);
    position: absolute;
    height:120px;
    width: 640px;
    top: 70px;
    margin-left: 15px;
}

#contatoExplanation2 {
    position:absolute;
    left: 30px;
    width: 640px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}

#contatoTextos2 {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:140px;
    width:640px;
    top: 280px;
    margin-left: 15px;
}

#contatoExplanation3 {
    position:absolute;
    left: 50px;
    width: 720px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 600;
}

#contatoTextos3 {
    background: rgba(255,255,255,.85);
    position: absolute;
    margin-left: 0px;
    height:140px;
    width: 640px;
    top: 490px;
    margin-left: 15px;
}

#contatoTextos3:hover {
    background: whitesmoke;
}

#contatoTextos2:hover {
    background: whitesmoke;
}

#contatoTextos:hover {
    background: whitesmoke;
}

#webLABORATORIA {
    text-decoration: none;
    color:magenta;
} 

#webIBAMA {
    text-decoration: none;
    color:green;
} 

#webEMBRAPA {
    text-decoration: none;
    color:teal;
} 

#webLEI {
    text-decoration: none;
    color:teal;
} 

#webCIPHER {
    text-decoration: none;
    color:DeepPink;
}


