/* Menu de navegação: cores de background e hover*/
.menuUL{
    background-color: white;
    margin: 0;
    padding-left: 0px;
    border-bottom: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    margin-bottom: 400px;
}
#menuLI {
    display: inline-block;
    padding: 20px 40px 20px 40px;
    margin: 0;
}
/* Exclusão de blue underline */
#menuA {
    text-decoration: none;
    color: #001a1a  
} 
#menuLI:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#logo {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    padding: 0px 0px 0px 150px;
    overflow: hidden;
    margin-bottom: -23px;
}

/* INDEX.HTML*/
#bodyIndex {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(monkeyOnTheTree.jpeg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
/* Títulos página principal */
.tit {
    position: absolute;
    margin-left: 20px;
    font-size:43px;
    font-family:'Montserrat', sans-serif;
    color: #b34700;
    background: rgba(0,0,0,.22);
    top: 70px;
}
h2 {
    position: absolute;
    bottom: 160px;
    left: 90px;
    font-size:35px;
    font-family:'Montserrat', sans-serif;
    color: #ccff66;
    background: rgba(0,0,0,.2);
}
/* Botões de criptografar e descriptografar */
#cripto {
    position: absolute;
    left: 20px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#decpto {
    position: absolute;
    left: 350px;
    bottom: 140px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #ccffe6;
    border-radius: 12px;
    border-color: #ccffe6;
}
#cripto:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
#decpto:hover {
    background-color: #9fdfbf;
    cursor:pointer;
    color: #001a1a;
}
/*Rodapé */
#footerPages {
    position: absolute;
    bottom: 0px;
    color: #ddffcc;
    text-align: center;
    font-size: 12px;
    vertical-align: left;
    width: 100%;
    height: 20px;    
    background: rgba(0,0,0,.2);
    padding: 5px 0px 0px 0px;
}

/* ENCODE.HTML */
#bodyEncode {
    margin: 0px;
    font-family:'Montserrat', sans-serif;
    background-image:    url(encode.jpeg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 80px;
}

#EncodeTit {
    position: absolute;
    margin-left: 20px;
    font-size:60px;
    font-family:'Montserrat', sans-serif;
    color: #001a1a;
    top: 70px;
}

#conditionsToEncode {
    position: absolute;
    left: 20px;
    top: 270px;

}

#messageToEncode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 500px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 140px;

}

#offsetToEncode {
    border: 1px solid #001a1a;
    font-family:'Montserrat', sans-serif;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    position: absolute;
    left: 20px;
    bottom: 100px;

}

#encodedMessageIndication{
    bottom: 18px;
    position: absolute;
    left: 20px;
    color:white;
    font-size: 10pt;

}

#encodedMessage{
    top: 100px;
    right: 20px;
    position: absolute;
    color:#262626;
}


#botaoToEncode {
    position: absolute;
    left: 20px;
    bottom: 50px;
    font-family:'Montserrat', sans-serif;
    font-size:25px;
    padding: 5px 30px 5px 30px;
    background-color: #001a1a;
    color: DarkSeaGreen;
    border-radius: 12px;
    border-color: #001a1a;


}